@font-face {
    font-family: 'fc_lamoonbold';
    src: url('fc_lamoon_bold_ver_1.00-webfont.woff2') format('woff2'),
         url('fc_lamoon_bold_ver_1.00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fc_lamoonregular';
    src: url('fc_lamoon_regular_ver_1.00-webfont.woff2') format('woff2'),
         url('fc_lamoon_regular_ver_1.00-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fc_homeblack';
    src: url('fc_home_black_ver_1.01-webfont.woff2') format('woff2'),
         url('fc_home_black_ver_1.01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fc_homeregular';
    src: url('fc_home_regular_ver_1.01-webfont.woff2') format('woff2'),
         url('fc_home_regular_ver_1.01-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    background-color: #226597;
}
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'fc_lamoonregular';
    font-weight: lighter;
}
#wrapper{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
#boxhead{
    width: 53.90%;
    height: 300px;
}
.callemer2{
    display: none;
}
.curvtop{
    width: 83%;
    height: 300px;
    background: #fff;
    border-radius: 300px 300px 0 0; 
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}
nav{
    width: 100%;
    height: 0px;
    line-height: 10px;
}
.logo-top{
    width: 25.03%;
    height: 200px;
    background: #113F67;
    border-radius: 0px 0px 300px 300px; 
    margin: 0 auto;
    box-shadow: 0 3px 5px #333;
    position: relative;
}
.logo-top img{
    position: absolute;
    top: 50px;
    left: 15%;
    right: 15%;
    width: 70.4%;
}
.menu-top li a{
    font-size: 32px;
    float: left;
    padding-left: 55px;
    padding-top: 30px;
    font-family: 'fc_homeregular';
}
.move{
    margin-left: 21%;
}
.homel a{
    margin-left: -50px;
   /* color: #113F67;*/
}
.ct a{
     color: #113F67;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    font-size: 32px;
     color: #87C0CD;
}
nav ul li a:hover{
    color: #113F67;
    transition: all 0.25s ease-in;
}
.icon-head{
    float: left;
    position: absolute;
    right: -30%;
    margin-top: 45px;
    display: inline-block;
}
.icon-head i{
    font-size: 30px;
    color: #05DFD7;
}
.icon-head a{
    font-size: 24px;
    color: #F3F9FB;
    font-family: 'fc_homeregular';
    transition: all 0.25s ease-in;
}
.icon-head a:hover{
    color: #05DFD7;
}
#payment{
    width: 100%;
    height: 500px;
    background-color: #F5EFEF;
    box-sizing: border-box;
    /*position: relative;*/
}
.paymenttitle{
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to right,#87C0CD, #226597,#113F67);
    font-size: 32px;
    color: #F3F9FB;
    text-align: center;
    padding-top: 2.5%;
    box-shadow: 3px 3px 5px #333;
}
.cardpay{
    width: 17.57%;
    height: 74%;
    float: left;
    margin: 30px 0 0 17.57%;  
    /*background-color: red;*/
}
.cash{
    width: 22.26%;
    height: 74%;
    /*background-color: blue;*/
    float: left;
    margin: 30px 0 0 2.5%;
}
.qr-code{
    width: 26.56%;
    height: 74%;
    border-radius: 300px 300px 0 0;
    background-image: linear-gradient(to bottom,#113F67, #226597,#87C0CD);
    float: left;
    margin: 30px 0 0 2.5%;
}
.but-add{
    width: 100%;
    height: 18.91%;
    background-image: linear-gradient(to right,#87C0CD, #226597,#113F67); 
    border-radius: 34px;
    text-align: center;
    padding-top: 8%; 
    font-size: 32px;
    color: #F3F9FB;
    font-family: 'fc_lamoonregular';
    padding-right: 10%;
    box-shadow: 3px 3px 5px #333;
    cursor: pointer;
    transition: all 0.25s ease-in;
}
.but-add .fa-plus-circle{
    float: left;
    padding-left: 15%;
}
.but-add:hover{
    transform: translate(0,-10px);
    background-image: linear-gradient(to right,#113F67, #226597,#87C0CD); 
}
.movepay{
    padding-top: 15%;
    font-size: 42px;
    text-align: center;

}
.fa-cc-visa{
    text-align: left;
    color: #226597;
    cursor: pointer;
    transition: all 0.25s ease-in;
}
.fa-cc-visa:hover{
    transform: translate(0,-10px);
    color: #113F67;
}
.fa-cc-paypal{
    padding-left: 10%;
    color: #226597;
    cursor: pointer;
    transition: all 0.25s ease-in;
}
.fa-cc-paypal:hover{
    transform: translate(0,-10px);
    color: #113F67;
}
.fa-cc-mastercard{
    padding-left: 10%;
    color: #226597;
    cursor: pointer;
    transition: all 0.25s ease-in;
}
.fa-cc-mastercard:hover{
    transform: translate(0,-10px);
    color: #113F67;
}
.but-cash{
    width: 73%;
    height: 18.91%;
    background-image: linear-gradient(to right,#87C0CD, #226597,#113F67); 
    border-radius: 34px;
    text-align: center;
    padding-top: 6%; 
    font-size: 32px;
    color: #F3F9FB;
    font-family: 'fc_lamoonregular';
    padding-right: 10%;
    box-shadow: 3px 3px 5px #333;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.25s ease-in;
}
.but-cash .fa-credit-card{
    float: left;
    padding-left: 15%;
}
.but-cash:hover{
    transform: translate(0,-10px);
    background-image: linear-gradient(to right,#113F67, #226597,#87C0CD); 
}
.cash h1{
    color: #113F67;
    font-size: 24px;
    font-weight: normal;
    padding-top: 15%;
    padding-left: 35%;
}
.cash h2{
    font-size: 42px;
    color: #226597;
    font-family: 'fc_homeregular';
    font-weight: normal;
    padding-top: 15%;
    padding-left: 33%;
}
.callemer{
    width: 75%;
    height: 17%;
    /*background-image: linear-gradient(to right,#87C0CD, #226597,#113F67);*/
    background-color: #F3F9FB;
    margin-top: 10%;
    margin-left: 13%;
    border-radius: 60px;
    box-shadow: 3px 3px 5px #333;
    cursor: pointer;
    position: relative;
    border:3px solid #113F67;
}
.callemer:hover{

    box-shadow: none;
}
.callemer p{
    padding-top: 5%;
    text-align: center;
    font-size: 24px;
    color: #226597;
}
.callemer i{
    padding-top: 1%;
}
.sub-menu{
    margin-top: 15px;
    margin-left: -3px;
}
.sub-menu li{
    text-align: center;
    font-size: 24px;
    width: 101%;
    background-color: #F3F9FB;
    list-style: none;
    box-shadow: 0 3px 5px #333;
}
.sub-menu li a{
    /*border:3px solid #113F67;*/
    text-decoration: none;
    color: #113F67;
    display: block;
    padding: 5% 5%;
    width: 100%;
}
.callemer:hover{
   border-radius: 60px 60px 0 0 ;
}
.callemer .sub-menu li{
    display: none;
}
.callemer:hover .sub-menu li {
    display: block;
}
.callemer .sub-menu li:hover a{
    width: 100%;
    background-color: #113F67;
    color: #F3F9FB;
}
.callemer .sub-menu li:active a{
    background-color: #87C0CD;
}
.qr-code h1{
    font-size: 42px;
    color: #F3F9FB;
    text-align: center;
    padding-top: 10%;
    font-weight: normal;
}
.imgqr{
    width: 56%;
    height: 58%;
    background-color: grey;
    margin: 6.7% auto;
}
.imgqr img{
    object-fit: cover;
}
#senddeli{
    width: 100%;
    height: 650px;
    background-color: #F5EFEF;
    /*position: relative;*/
    box-sizing: border-box;
}
.delititle{
    width: 100%;
    height: 14.50%;
    background-image: linear-gradient(to right,#87C0CD, #226597,#113F67);
    font-size: 32px;
    color: #F3F9FB;
    text-align: center;
    padding-top: 2.5%;
    box-shadow: 3px 3px 5px #333;
    font-family: 'fc_homeregular';
}
.input-deli input{
    width: 66.40%;
    height: 100px;
    padding-left: 3%;
    border-radius: 50px 0 0 50px;
    border: 3px solid #226597;
    font-size: 24px;
    font-family: 'fc_lamoonregular';
    color: #113F67;
    margin-left: 10.93%;
    margin-top: 40px;
    float: left;
    box-shadow: 3px 3px 5px #333;
    outline: none;
}
.input-deli input::placeholder{
    color: #87C0CD;
}
.but-search{
   width: 12.10%;
   height: 100px;
   border-radius: 0 50px 50px 0;
   background-image: linear-gradient(to right,#113F67,#226597,#87C0CD);
   float: left;
   margin-top: 40px;
   text-align: center;
   font-size: 40px;
   color: #F3F9FB;
   padding-top: 30px;
   cursor: pointer;
   transition: all 0.25s ease-in;
   box-shadow: 3px 3px 5px #333;
}
.but-search:hover{
   background-image: linear-gradient(to right,#87C0CD,#226597,#113F67);
}
.zone-icon{
    width: 60.93%;
    height: 100px;
    /*background-color: #333;*/
    float: left;
    margin-top: 50px;
    margin-left: 19.53%;
    display: inline-block;
}
.zone-icon .fa-gift{
    float: left;
    font-size: 100px;
    color: #113F67;
}
.zone-icon .fa-truck{
    font-size: 100px;
    color: #226597;
    padding-left: 34%;
}
.zone-icon .fa-home{
    float: right;
    font-size: 100px;
    color: #87C0CD;
    padding-left: 10%;
}
.line-delivery{
    width: 55%;
    height: 100px;
    /*background-color: red;*/
    border-bottom: 10px solid #113F67;
    float: left;
    margin-left: 23%;
    position: relative;
}
.cironline1{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #113F67;
    border:5px solid #FFFFFF;
    float: left;
    margin-top: 80px;
    margin-left: -15px;
}
.cironline2{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #87C0CD;
    border:5px solid #FFFFFF;
    float: left;
    margin-top: 80px;
    margin-left: 47%;
}
.cironline3{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #113F67;
    border:5px solid #FFFFFF;
    float: right;
    margin-top: 80px;
    margin-right: -0.20%;
}
.sentto{
    float: left;
    margin-top: 10%;
    margin-left: -57%;
}
.sentto h1{
    font-size: 24px;
    color: #226597;
    font-weight: normal;
}
.sentto p{
    font-size: 18px;
    color: #226597;
    font-family: 'fc_homeregular';
    padding-top: 15px; 
}
.sentto2{
    float: left;
    margin-top: 3.5%;
    margin-left: 47%;
}
.sentto2 h1{
    font-size: 24px;
    color: #226597;
    font-weight: normal;
}
.sentto2 p{
    font-size: 18px;
    color: #226597;
    padding-top: 15px; 
}
.sentto3{
    float: left;
    margin-top: 3.5%;
    margin-left: 19%;
}
.sentto3 h1{
    font-size: 24px;
    color: #226597;
    font-weight: normal;
}
.sentto3 p{
    font-size: 18px;
    color: #226597;
   /* font-family: 'fc_homeregular';*/
    padding-top: 15px; 
}
#search-mapGG{
    width: 100%;
    height: 700px;
}
.delititle2{
    width: 100%;
    height: 14.29%;
    background-image: linear-gradient(to right,#87C0CD, #226597,#113F67);
    font-size: 32px;
    color: #F3F9FB;
    text-align: center;
    padding-top: 2.5%;
    box-shadow: 3px 3px 5px #333;
    /*font-family: 'fc_homeregular';*/
}
#comment{
    width: 100%;
    height: 800px;
    background-color: #666;
}
.delititle3{
    width: 100%;
    height: 12.50%;
    background-image: linear-gradient(to right,#87C0CD, #226597,#113F67);
    font-size: 32px;
    color: #F3F9FB;
    text-align: center;
    padding-top: 2.5%;
    box-shadow: 3px 3px 5px #333;
    font-family: 'fc_lamoonregular';
}
.content-com{
    width: 100%;
    height: 700px;
    background-color: #226597;
    position: relative;
}
.box-com1{
    position: absolute;
    top: 14.28%;
    left: 17.57%;
    width: 31.64%;
    height: 235px;
    /*background-color: #333;*/
    text-align: left; 
}
.box-com1 h1{
    font-size: 32px;
    font-weight: normal;
    color: #F3F9FB;
}
.box-com1 h2{
    font-size: 32px;
    font-weight: normal;
    color: #F3F9FB;
    padding-top: 20px;
}
.box-com2{
    position: absolute;
    top: 4.28%;
    left: 58.59%;
    width: 17%;
    height: 32px;
    /*background-color: #666;*/
    text-align: left; 
    display: inline-block;
}
.box-com2 li{
    font-size: 32px;
    color: #F3F9FB;
    font-weight: normal;
    padding-left: 9.30%;
    padding-top:  1.5%;
    display: inline-block;
}
.display-com{
    list-style: none;
}
.box-com3{
    width: 15%;
    height: 235px;
    position: absolute;
    top: 14.28%;
    left: 60.15%;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #05DFD7;
  outline: none;
/*  -webkit-transition: .2s;
  transition: opacity .2s;*/
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #87C0CD;
  cursor: pointer;
}
.slider::-webkit-slider-thumb:active {
    background-color: #113F67;
}
.slider2{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #05DFD7;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 21%;
}
.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: #87C0CD;
  cursor: pointer;
}
.slider2::-webkit-slider-thumb:active {
    background-color: #113F67;
}
.box-com4{
    width: 65.24%;
    height: 31.42%;
    position: absolute;
    top: 55%;
    left: 17.57%;
    /*background-color: #666;*/
}
.box-com4 h1{
    font-size: 32px;
    color: #F3F9FB;
    font-weight: normal;
}
.commention{
    width: 100%;
    height: 100%;
    font-size: 32px;
    padding-left: 2%;
    padding-bottom: 15%;
    font-family: 'fc_lamoonregular';
    color: #113F67;
}
.commention{
    outline: none;
}
.sub-com{
    width: 10%;
    height: 40px;
    font-size: 24px;
    font-family: 'fc_homeregular'; 
    background-color: #05DFD7;
    float: right;
    margin-top: 10px;
    outline: none;
    border-style: none;
    color: #113F67;
    cursor: pointer;
    transition: all 0.25s ease-in;
    box-shadow: 3px 5px 5px #333;
}
.sub-com:hover{
    background-color: #113F67;
    color: #05DFD7;
    transform: translate(0,-10px);
}
.delititle4{
    width: 100%;
    height: 14.50%;
    background-image: linear-gradient(to right,#87C0CD, #226597,#113F67);
    font-size: 32px;
    color: #F3F9FB;
    text-align: center;
    padding: 2.24% 0;
    box-shadow: 3px 3px 5px #333;
    font-family: 'fc_lamoonregular';
}
.areaquest{
    width: 100%;
    height: 150px;
    background-color: #F3F9FB;
    position: relative;
/*    z-index: -1;*/
}
.input1{
    width: 32%;
    height: 65px;
    position: absolute;
    top: 16.66%;
    left: 10.93%;
    padding-left: 2%;
    padding-top: 0.5%;
    font-size: 32px;
    font-family: 'fc_lamoonregular';
    color: #113F67;
    outline: none;
    border-radius: 20px;
    border-style: none;
    border: 3px solid #226597;
}
.input1::placeholder{
    color: #87C0CD;
    font-size: 32px;
    font-family: 'fc_lamoonregular';
}
.input2{
    width: 32%;
    height: 65px;
    position: absolute;
    top: 16.66%;
    left: 44.14%;
    padding-left: 2%;
    padding-top: 0.5%;
    font-size: 32px;
    font-family: 'fc_lamoonregular';
    color: #113F67;
    outline: none;
    border-radius: 20px;
    border-style: none;
    border: 3px solid #226597;
}
.input2::placeholder{
    color: #87C0CD;
    font-size: 32px;
    font-family: 'fc_lamoonregular';
}
.areaquest p{
    font-size: 32px;
    color: #226597;
    position: absolute;
    top: 66.66%;
    left: 10.93%;  
    font-family: 'fc_homeregular';
}
.butsent{
    width: 12%;
    height: 65px;
    background-image: linear-gradient(to right,#87C0CD, #226597,#113F67);
    position: absolute;
    top: 16.66%;
    left: 77.34%;
    font-size: 32px;
    text-align: center;
    padding-top: 1%;
    border-radius: 30px;
    color: #F3F9FB;
    cursor: pointer;
    box-shadow: 3px 5px 5px #333;
    transition: all 0.25s ease-in;
}
.butsent:hover{
    transform: translate(0,-10px);
    background-image:linear-gradient(to right,#113F67, #226597,#87C0CD);
}
#areafoot{
    width: 100%;
    height: 300px;
    background-color: #226597;
    clear: both;
    z-index: -1;
}
.arecurv{
    width: 100%;
    height: 300px;
    border-radius: 0 0 150px 150px;
    background-color: #F3F9FB;
    position: relative;
}
.logo-bottom{
    width: 170px;
    height: 200px;
    background: #113F67;
    border-radius: 0px 0px 300px 300px; 
    margin-left: 8%;
    box-shadow: 0 3px 5px #333;
}
.logo-bottom img{
    margin-top: 50px;
    margin-left: 25px;
    width: 120px;
    height: 120px;
}
.movefoot{
    width: 400px;
    /*background-color: red;*/
    list-style: none;
   /* display: inline-block;*/
    position: absolute;
    left: 60%;
    top: 10%;
}
.movefoot li a{
    font-size: 32px;
    float: left;
    color: #87C0CD;
    font-family: 'fc_homeregular';
    padding-left: 7%;    
}
.movefoot .contact2 a{
    color: #113F67;
}
.movefoot li a:hover{
    color: #113F67;
    transition: all 0.25s ease-in;
}
.con-icon{
    position: absolute;
    left: 68%;
    top: 40%;
    font-size: 32px;
    color: #113F67;
}
.fa-facebook:hover{
    transition: all 0.25s ease-in;
    cursor: pointer;
    color: #87C0CD;
}
.fa-instagram{
    transition: all 0.25s ease-in;
    cursor: pointer;
    padding-left: 20px;
}
.fa-twitter{
    transition: all 0.25s ease-in;
    cursor: pointer;
    padding-left: 20px;
}
.fa-instagram:hover{
    color: #87C0CD;
}
.fa-twitter:hover{
    color: #87C0CD;
}
.textcon{
    position: absolute;
    margin-top: 20px;
    left: 64%;
    font-size: 32px;
    color: #226597;
}
.coptryight{
    width: 100%;
    position: absolute;
    top: 85%;
    left: 64.5%;
    color: #226597;
    font-size: 18px;
    font-family: 'fc_homeregular';
}
@media screen and (max-width:376px){
    #wrapper{
    width: 375px;
    margin: 0 auto;
    overflow: hidden;
    /*position: relative;*/
 }
    #boxhead{
    width: 80%;
    height: 150px;
    margin: 0 auto;
  }
  .curvtop{
    width: 100%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-top{
    width: 23.33%;
    height: 90px;
    background: #113F67;
    border-radius: 0px 0px 300px 300px; 
    margin: 0 auto;
    box-shadow: 0 3px 5px #333;
  }
  .logo-top img{
    position: absolute;
    top: 30px;
  }
  .homel, .treatmentt{
    display: none;
  }
  .move{
    text-align: center;
    margin-left: 0;
  }
  .menu-top{
    margin: 0 auto;
  }
  .menu-top li a{
    margin-top: -5px;
    padding-left: 0;
  }
  .homel a{
    margin-left: 0; 
  }
  .icon-head{
    float: left;
    position: absolute;
    top: 40%;
    left: 13.33%;
    margin-top: 45px;
    display: inline-block;
  }
  .icon-head a{
    display: none;
  }
  .callemer2{
    display: block;
    width: 65%;
    height: 17%;
    cursor: pointer;
    position: relative;
    margin-left: 75%;
    font-size: 30px;
    margin-top: -25px;
    color: #87C0CD;
  }
  .sub-menu2{
    display: block;
  }
  .callemer2:hover{
    box-shadow: none;
  }
  .sub-menu2 li{
    font-size: 14px;
    width: 50%;
    list-style: none;
    box-shadow: 0 3px 5px #333;
   /* margin-top: 5px;*/
  }
  .sub-menu2 li a{
    text-decoration: none;
    color: #F3F9FB;
    display: block;
    padding: 5% 5%;
    text-align: center;
    font-size: 18px;
    background-color: #113F67;
   /* width: 80%;*/
    font-weight: normal;
    font-family: 'fc_lamoonregular';
   /* margin-top: 0.5px;*/
  }
    .callemer2:hover{
    border-radius: 60px 60px 0 0 ;
  }
    .callemer2 .sub-menu2 li, .boxlist{
    display: none;
  }
    .callemer2:hover .sub-menu2 li {
    display: block;
  }
    .callemer2 .sub-menu2 li:hover a{
    background-image: linear-gradient(to right,#113F67, #226597,#87C0CD);
    color: #F3F9FB;
  }
    .callemer2 .sub-menu2 li:active a{
    background-color: #87C0CD;
  }
  #payment{
    width: 100%;
    height: 850px;
  }
  .paymenttitle{
    height: 50px;
  }
  .cardpay{
    margin: 0 auto;
    float: none;
    height: 170px;
    margin-top: 40px;
    width: 375px;
  }
  .but-add{
    width: 56%;
    height: 70px;
    padding: 6% 5%;
    margin: 0 auto;
  }
  .movepay{
    padding-top: 30px;
  }
  .cash{
    width: 375px;
    height: 290px;
   margin: 0 auto;
  }
  .but-cash{
    width: 56%;
    height: 70px;
    padding: 6% 5%;
    margin: 0 auto;
  }
  .cash h1{
    padding-top: 30px;
  }
  .cash h2{
    padding-top: 25px;
  }
  .callemer{
    width: 64.26%;
    height: 50px;
    margin: 0 auto;
    margin-top: 25px;
  }
  .sub-menu{
    width: 239px;
    margin-top: 4px;
  }
  .callemer p{
    padding-top: 3%;
  }
  .qr-code{
    width: 302px;
    height: 310px;
    margin: 0 auto;
    margin-top: -10px;
    margin-left: 10%; 
  }
  #senddeli{
    width: 375px;
    height: 450px;
  }
  .delititle{
    height: 50px;
  }
  .input-deli input{
    width: 62.66%;
    height: 50px;
    font-size: 16px;
  }
  .but-search{
    width: 18.13%;
    height: 50px;
    padding: 4%;
    font-size: 20px;
  }
  .zone-icon{
    width: 100%;
    margin-left: 40px;
    margin-top: 40px;
  }
  .zone-icon .fa-gift{
    margin-top: 45px;
    font-size: 50px;
  }
  .zone-icon .fa-truck{
    font-size: 90px;
    padding-left: 50px;
  }
  .zone-icon .fa-home{
    font-size: 50px;
    float: none;
    margin-top: 45px;
  }
  .line-delivery{
    width: 75.2%;
    height: 30px;
    margin: 0 50px;
  }
  .cironline1{
    margin: 10px -1px;
  }
  .cironline2{
    margin: 10px 0 0 35%;
  }
  .cironline3{
    margin: 10px -1px;
  }
  .sentto , .sentto3{
    display: none;
  }
  .sentto2{
    margin-left: 35%;
    margin-top: 25px;
  }
  #search-mapGG{
    height: 300px;
  }
  .delititle2{
    height: 50px;
  }
  #search-mapGG iframe{
    height: 250px;
  }
  #comment{
    height: 480px;
  }
  .delititle3{
    font-size: 24px;
    font-family: 'fc_lamoonregular';
    height: 50px;
    z-index: 1;
    padding-top: 4%;
  }
  .box-com1{
    width: 39.2%;
    height: 152px;
    top: 12.5%;
    left: 9.33%;
  }
  .box-com1 h1{
    font-size: 18px;
  }
  .box-com1 h2{
    font-size: 18px;
    padding-top: 10px;
  }
  .box-com2{
    width: 50%;
    top: 4.16%;
    left: 50%;
  }
  .display-com li{
    font-size: 24px;
    padding-left: 5%;
    display: inline-block;
  }
  .box-com3{
    width: 39%;
    height: 21%;
    top: 12.5%;
    left: 52%;
  }
  .slider::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }
  .slider2{
   margin-top: 10%;
   margin-bottom: 7%;
  }
  .slider2::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  }
  .box-com4{
    width: 375px;
    top: 50%;
    left: 9.33%;
  }
  .box-com4 h1{
    font-size: 18px;
  }
  .commention{
    width: 80.53%;
    height: 100px;
  }
  .sub-com{
    width: 24%;
    height: 30px;
    float: right;
    margin-right: 20%;
    font-size: 18px;
    margin-top: 20px;
  }
  .content-com{
    height: 430px;
  }
  .delititle4{
    width: 100%;
    height: 50px;
    font-family: 'fc_lamoonregular';
    padding: 3%;
  }
  .areaquest{
    height: 250px;
  }
  .input1{
    width: 80.53%;
    height: 65px;
    top: 6.66%;
  }
  .input2{
   width: 80.53%;
   height: 35px;
   border-radius: 10px;
   font-size: 18px;
   padding-top: 3%;
   top: 40%;
   left: 11%;
  }
  .butsent{
    width: 18.66%;
    height: 30px;
    font-size: 15px;
    padding-top: 2%;
    top: 60%;
    left: 73%;
  }
  .areaquest p{
    font-size: 24px;
    font-family: 'fc_homeregular';
    top: 80%;
    left: 25%;
  }
    #areafoot{
    width: 100%;
    height: 250px;
 }
 .logo-bottom{
    width: 70px;
    height: 90px;
    background: #113F67;
    border-radius: 0px 0px 300px 300px; 
    margin-left: 40%;
    box-shadow: 0 3px 5px #333;
  }
  .logo-bottom img{
    width: 55px;
    height: 55px;
    margin-top: 20px;
    margin-left: 9px;
  }
  .arecurv{
    height: 250px;
  }
  .textcon{
    top: 65%;
    left: 25%;
    font-size: 24px;
  }
  .con-icon{
    top: 45%;
    left: 25.5%;
    font-size: 50px;
  }
  .coptryight, .movefoot{
    display: none;
  }
}